:root {
  --color-Primary-Black: #1D1B20;
  --color-Primary-LightPurple: #A793E0;
  --color-Primary-BrightGray: #EAE7F2;
  --color-Primary-BrightGrey: #D9D9D9;

  --color-Secondary-Black-1: #4A494D;
  --color-Secondary-Black-2: #777679;
  --color-Secondary-Black-3: #A5A4A6;
  --color-Secondary-Blanck-4: #D2D1D2;
  --color-Secondary-Black-5: #E9E9E9;

  --color-Secondary-LightPurple-1: #B9A8E6;
  --color-Secondary-LightPurple-2: #CABEED;
  --color-Secondary-LightPurple-3: #DCD4F3;
  --color-Secondary-LightPurple-4: #EDE9F9;
  --color-Secondary-LightPurple-5: #F7F5FC;

  --font-primary: 'Syncopate', sans-serif;
  --font-secondary: 'Marope', sans-serif;



}

body {
  background-color: var(--color-Primary-BrightGrey);
  font-family: var(--font-secondary);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
}

h1 {
  font-family: var(--font-primary);
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.6px;
}

h2 {
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: #000;
  font-family: var(--font-primary);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.72px;
}

h3 {
  color: #000;
  text-align: center;
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: #000;
  font-family: var(--font-secondary);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}